In [13]:
import pandas as pd
df = pd.read_csv("taxi_peru.csv", delimiter=';', encoding = "Windows-1251")
df.sort_values(by=['end_state'], ascending=[False])

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score
23110,b7dea45c3cc92b9efd5a4905e69ff9bf,c0ffb6f6cd801004dd8609c12277c2d1,924d4f0e7554566623e8ebb390491d08,924d4f0e7554566623e8ebb390491492,executive,asap,2010-03-16 19:58:00,"-12,1334974","-77,0272581",2010-03-16 20:02:00,"-12,029174","-76,93977",rider cancel,"-12,09586711","-77,07372552",NaN,web,NaN,NaN
5742,b5821eaaa5d49fb2936ff5b0ffa79bba,760cafde3f1d33ceca82940e5230f9af,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,reserved,2010-05-21 15:30:00,"-12,1171111","-77,0389639",2010-05-21 15:31:00,"-12,1288553","-77,001117",rider cancel,"-12,11117141","-77,01328642",2010-05-21 15:25:00,web,NaN,NaN
5765,bd321cca346778b979d594859ccc90f6,a86c8d399be95a32f795a8a9887127b9,NaN,NaN,executive,asap,2010-09-23 18:39:00,"-12,11205829","-76,99165005",2010-09-23 18:39:00,"-12,12089695","-77,01169956",rider cancel,NaN,NaN,NaN,Android,NaN,NaN
5763,bd321cca346778b979d594859ccaa491,cf3a94138caddceb3209e4723638ef6f,NaN,NaN,executive,asap,2010-09-24 05:44:00,"-12,08189816","-76,90890323",2010-09-24 05:44:00,"-12,13028208","-77,03203607",rider cancel,NaN,NaN,NaN,Android,NaN,NaN
19903,ab6ee368af1a9e1293acc0d14d1f69ce,a86c8d399be95a32f795a8a9887127b9,406921adcca37705ef527b4246c0cfea,16cbe35db7fff70fbc8251b4cdcccb70,executive,asap,2010-09-10 17:14:00,"-12,11238085","-76,99274071",2010-09-10 17:14:00,"-12,10332456","-77,04892393",rider cancel,"-12,10939506","-76,99331548",NaN,Android,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5877,031fea9628f9238b051a58808531658e,9b474537c2b26020bb16aee19acacccf,NaN,NaN,executive,asap,2010-02-21 21:57:00,"-12,111578","-76,992617",NaN,"-12,126136","-77,024817",NaN,NaN,NaN,NaN,Android,NaN,NaN
6143,124dc2dbc4f79130bfa0b935778884ca,9b474537c2b26020bb16aee19acacccf,NaN,NaN,executive,asap,2010-03-11 00:40:00,"-12,080955","-77,047618",NaN,"-12,106415","-77,025664",NaN,NaN,NaN,NaN,Android,NaN,NaN
7033,395e6cdaabe3fe67d81014e862f2580b,901f7da979a892fafba72056b81a94af,NaN,NaN,executive,asap,2010-01-20 22:32:00,"-12,065236","-77,070028",NaN,"-11,997957","-77,073034",NaN,NaN,NaN,NaN,Android,NaN,NaN
8058,650f4aa44a581c90f7dd76ec82aa6040,ac3834b32de79bd97ee6bae75ed3ba99,NaN,NaN,executive,asap,2010-01-10 16:22:00,"-12,11781","-77,037067",NaN,"-12,092086","-77,050284",NaN,NaN,NaN,NaN,Android,NaN,NaN
8132,699c76a8203348961730e0164a78edd8,55a921582f7b88ef61a3d8e24f44b846,NaN,NaN,executive,asap,2010-01-12 11:49:00,"-12,02546103","-77,04935266",NaN,"-12,21086208","-76,98322738",NaN,NaN,NaN,NaN,iPhone,NaN,NaN

In [19]:
a = df.groupby(['source']).agg({'user_id':'count',})
a.sort_values(by=[ 'user_id'], ascending=[False])

         user_id
source
iPhone      9741
web         7631
Android     4909
iPad         571
Wap          136