In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('C://Users//youca//PycharmProjects//PandasPGU//bookings.csv')

In [6]:
data

       Hotel;Is Canceled;Lead Time;arrival full date;Arrival Date Year;Arrival Date Month;Arrival Date Week Number;Arrival Date Day of Month;Stays in Weekend nights;Stays in week nights;stays total nights;Adults;Children;Babies;Meal;Country;Reserved Room Type;Assigned room type;customer type;Reservation Status;Reservation status_date
0       Resort Hotel;0;342;2015-07-01;2015;July;27;1;0...
1       Resort Hotel;0;737;2015-07-01;2015;July;27;1;0...
2       Resort Hotel;0;7;2015-07-01;2015;July;27;1;0;1...
3       Resort Hotel;0;13;2015-07-01;2015;July;27;1;0;...
4       Resort Hotel;0;14;2015-07-01;2015;July;27;1;0;...
...                                                   ...
119385  City Hotel;0;23;2017-08-30;2017;August;35;30;2...
119386  City Hotel;0;102;2017-08-31;2017;August;35;31;...
119387  City Hotel;0;34;2017-08-31;2017;August;35;31;2...
119388  City Hotel;0;109;2017-08-31;2017;August;35;31;...
119389  City Hotel;0;205;2017-08-29;2017;August;35;29;...

[119390 rows x 1 columns]